In [ ]:
a=['함지고','구암고','매천고']

for name in a:
    print(name+'등학교')

In [ ]:
for a in "함지고등학교":
    print(a)

In [ ]:
for helld in range(10):
    print('안녕하세요')

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(2,11):
    print(i)

In [40]:
n=str(input())

for a in range(1,10):
    A=int(n)*a
    print(n+"*"+str(a)+"="+str(A))

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27